// ========================================
// Colors
// ========================================
$color-background-screen: #F1F1F1;
$color-text-screen: #21759B;
$color-screen-reader-box-shadow: rgba(0, 0, 0, 0.6);

$black: #000000;
$mineshaft: #2E2E2E;
$scorpion: #5C5C5C;
$grey: #8A8A8A;
$silver: #B8B8B8;
$mercury: #E6E6E6;
