// ========================================
// System Paths
// ========================================

$path-images: "assets/images/";
$path-icons: $path-images + "icons/";
$path-svg: $path-images + "svg/";
$path-fonts: "assets/fonts/";
